# Interfaz gráfica
ttkbootstrap>=1.10.1
#tk  # incluido por defecto en Python, pero lo puedes anotar

# Red y scraping
requests>=2.31.0
urllib3>=2.0.4
beautifulsoup4>=4.12.2
lxml>=4.9.3  # parser más robusto y rápido para BeautifulSoup

# PDF
PyMuPDF>=1.23.20

# Excel
openpyxl>=3.1.2

# Compresión ZIP
# zipfile → estándar, no necesita instalarse



